[submodule "core/Clash.Meta"]
	path = core/Clash.Meta
	url = https://github.com/Sakawat-hossain/Longyun-Core.git
	branch = main
[submodule "plugins/flutter_distributor"]
	path = plugins/flutter_distributor
	url = https://github.com/Sakawat-hossain/flutter_distributor.git
	branch = FlClash
[submodule "plugins/tray_manager"]
	path = plugins/tray_manager
	url = https://github.com/Sakawat-hossain/tray_manager.git
	branch = main
